.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #616468;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    .modal_content {
        width: 600px;
        height: 600px;
        .modal_footer {
            padding: 10px;
        }
    }
}



